.login{
    width: 100%;
    height: 100vh;
}

.login-form{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #e8f4fc5b, #c7d2ec77),url(../../public/products/about-blur.jpg);
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(to right, #e8f4fc, #c7d2ec, #d1d0e9); */
}

.login-form-container{
    text-align: center;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 8px #2e2e2e85;
    background-color: rgb(255, 255, 255);
}

.login-form-container h1{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: #777fa8;
}

.login-form-container p{
    color: #777fa8;
    font-weight: 400;
}

.login-form-container form input{
    height: 50px;
    width: 95%;
    margin: 15px 0;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px #777fa863 inset;
    outline: none;
}

.login-form-container form input[type='button']{
    background-color: #777fa8;
    color: white;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    box-shadow: none;
}

.login-form-container form input[type='button']:hover{
    background-color: #ffffff;
    color: #777fa8;
    box-shadow: 0 0 8px rgba(63, 63, 63, 0.377);
}


.login-form span{
    color: #777fa8;
    font-weight: 300;
}

.singuplink{
    color: #777fa8;
    font-weight: 400;
    text-decoration: none;
}

.singuplink:hover{
    color: blue !important;
}

.singuplink:hover{
    color: #777fa8;
}

.signup{
    width: 100%;
    height: 100vh;
}


.forgotpassword{
    font-weight: 600;
    color: #777fa8;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}


.signup-form{
    background: linear-gradient(to right, #e8f4fc5b, #c7d2ec77),url(../../public/products/about-blur.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #777fa8c4;
}

.signup-form-container{
    text-align: center;
    position: absolute;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 8px #5764a354;
    background-color: rgb(255, 255, 255);
}

.signup-form-container h1{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: #777fa8;
}

.signup-form-container form input{
    height: 50px;
    width: 95%;
    margin: 15px 0;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px #777fa863 inset;
    outline: none;
}

.signup-form-container form input[type='button']{
    background-color: #777fa8;
    color: white;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.signup-form-container  form input[type='button']:hover{
    background-color: #ffffff;
    color: #777fa8;
    box-shadow: 0 0 8px rgba(63, 63, 63, 0.377);
}


.signup-form span{
    color: #777fa8;
    font-weight: 400;
}



/* Forgot Password */

.forgotPasswordSection{
    height: 100vh;
    width: 100%;
}

.forgotPassCont{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgotPassCont h1{
    font-size: 2em;
}

.forgotPassCont p{
    font-size: 17px;
    font-weight: 400;
    color: rgb(158, 158, 158);
}

.forgotPassCont label{
    text-align: left;
    font-weight: bold;
}

#fpassemail{
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    outline: none;
}

.fpassbtn{
    width: 300px;
    height: 45px;
    border: none;
    background-color: #777fa8;
    color: white;
    border-radius: 5px;
    font-weight: 400;
}

#errorfphide{
    display: none;
}

#fphide{
    display: none;
}

.fpspan{
    color: green !important;
    position: relative;
    top: 15px;
}

.errorfpspan{
    color: red !important;
    position: relative;
    top: 15px;
}

.fplink{
    color: purple;
    font-weight: 400;
}


@media screen and (max-width: 389px) {
    .login-form-container{
        width: 95%;
    }
}

@media screen and (max-width: 577px) {
    .signup-form-container{
        width: 95%;
    }
}