#learn{
    min-height: 100vh;
    width: 100%;
    background-color: #227fbd2a;
}

.learntitle{
    padding: 0px 75px;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

.underline{
    height: 1px;
    width: 150px;
    background-color: black;
}

.blogs{
    padding: 25px 75px;
}

.blog{
    margin-bottom: 20px;
    animation: fadein-up 2s;
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}




.blog img{
    width:300px;
    border-radius: 5px;
}

.blog-texts{
    padding-left: 15px;
}

.blog-texts h3{
    font-weight: 600;
    margin-top: 23px;
}

.blog-texts p{
    font-weight: 400;
}

.blog-texts span{
    font-weight: 400;
}


.learnlink{
    color: #777fa8;
    font-weight: 400;
}

.blog img{
    height: 200px;
}

#sblog h1{
    padding-left: 25px;
    margin-top: 75px;
}

.sblog-cont{
    display: flex;
}

.sblog-left{
    float: left;
    width: 70%;
    background-color: #cacfe64b;
}


.sblog-left h1{
    font-family: "Medium";
}

.sblog-left p{
    font-family: "Medium";
    font-size: 1.1em;
}


.sblog-right{
    width: 30%;
    padding: 15px;
    min-width: 30%;
    background-color: rgb(247, 247, 247);
}

.sblog-right h3{
    font-family: 'Medium';
}
.sblog-img-cont{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.sblogimg{
    width: 100%;
    padding: 25px;
    padding-right: 4    5px;
    object-fit: cover;
    height: 100%;
}

.sblogimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 25px;
}

.sblogauthor{
    padding-left: 25px;
    font-size: 1.3em;
    font-weight: 400;
}

.sblog-content{
    padding: 0 25px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 1.2em;
}

.other-post{
    display: flex;
}

.other-post img{
    height: 100px;
    width: 100px;
}

.other-post h3{
    font-size: 1.4em;
    padding-top: 5px;
    padding-left: 5px;
    
}

.other-post p{
    font-size: 1em;
    padding-top: 5px;
    font-weight: 400;
    padding-left: 5px;
}

.other-post-nav{
    position: relative;
    bottom: 10px;
    left: 5px;
}


@media screen and (max-width: 884px) {
    .sblog-right{
        display: none;
    }

    .sblog-left{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .blog{
        display: block;
    }

    .blogs{
        padding: 25px 15px;
    }

    .blogimg{
        width: 100%;
    }

    .blogimg img{ 
        width: 100%;
        height: auto;
    }
}



@keyframes fadein-right {
    0%{
      opacity: 0;
      right: -50px;
    }
    100%{
      opacity: 100%;
      right: 0;
    }
  }
  