.shop{
   background-color:  rgba(173, 216, 230, 0.226);
    background-position: center;
    background-size: cover;background-attachment: fixed;
}

.shop-header{
    background-color: rgb(162, 167, 195);
    text-align: center;
    color: white;
}

.shop-header h1{
    padding-top: 85px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: calc(1.325rem + .9vw);
}

.avaih1{
    font-size: 2em;
    padding: 5px 35px;
    color: rgba(20, 20, 20, 0.712);
    font-weight: 800;
}

.shop-products{
    padding: 25px;
    display: grid;
    grid-gap: 20px;
}


.shop-product{
    color: rgb(78, 78, 78);
    width: 270px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    transition: 0.5s ease-in-out;
    height: auto;
    width: 100%;
}

.shop-product-image{
    padding: 8px;
    
}

.shop-product-image-cont{
    height: 100%;
}


.shop-product-image-cont img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.shop-product-info{
    padding: 5px 10px;
}

.shop-product-info h3{
    padding: 5px 5px 0 5px;
    font-family: "Medium";
}

.shop-product-info p{
    padding: 0 5px;
    position: relative;
    font-size: 1.2em;
    bottom: 5px;
    font-family: "Medium";
}


.shop-product-info button{
    height: 40px;
    width: 97%;
    position: relative;
    bottom: 8px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-family: "Medium";
    border: none;
    outline: none;
    background-color: #777fa8;
    transition: 0.5s ease-in-out;
}

.shop-product-info button:hover{
    background-color: white;
    color: #777fa8;
    box-shadow: 0 0 8px rgb(78, 78, 78);
}

.pagination-grid{
    display: grid;
    justify-content: center;
}

.pagination {
    display: inline-block;
  }
  
  .paginationLink {
    color: black;
    cursor: pointer;
    float: left;
    background-color: white;
    padding: 8px 16px;
    font-family: 'Medium';
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination .active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .paginationLink:hover:not(.active) {background-color: #ddd;}



@media screen and (min-width: 530px) {
    .shop-product{
        width: 80%;
    }

    .shop-product-image img{
        height: 100%;
    }

    .shop-product-image-cont{
        height: 100%;
    }
}

@media screen and (min-width: 693px) {
    .shop-product{
        width: 70%;
    }

    .shop-product-image img{
        height: 100%;
    }

    .shop-product-image-cont{
        height: 100%;
    }
}

@media screen and (min-width: 790px) {
    .shop-products{
        display: grid;
        grid-gap: 20px;
        padding: 25px;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }


    .shop-product{
        width: 350px;
    }

    .shop-product-image img{
        height: auto;
    }

    .shop-product-image{
        height: 350px;
    }
}

@media screen and (min-width: 957px) {
    .shop-products{
        display: grid;
        grid-gap: 20px;
        padding: 25px;
        grid-template-columns: repeat(3, 1fr);
    }
}



@media screen and (min-width: 1283px){
    .shop-product{
        width: 270px;
    }

    .shop-product-image{
        height: auto
    }

    .shop-product-footer h3{
        margin-top: 55px;
    }

    .shop-products{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
    }
    .shop-product{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}