@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Light";   
  src: local("Gilroy-Light"),
    url("./fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";  
  src: local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";   
  src: local("Gilroy-Medium"),
    url("./fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold"; 
  src: local("Gilroy-SemiBold"),
    url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";  
  src: local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";  
  src: local("Gilroy-ExtraBold"),
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");
}


* {
  margin: 0;
  padding: 0;
  font-family: "Regular";
  font-weight: 300;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

.navlinks {
  text-decoration: none;
}

.navTab {
  display: none;
}

.navMobile {
  display: none;
}

.navBar {
  z-index: 3;
  height: 75px;
  position: fixed;
  width: 100%;
  background-color: #777fa8;
}

.navTitle {
  position: relative;
  left: 25px;
  top: 22px;
  width: 70px;
  filter: brightness(0) invert(1);
  color: white;
}

.navBar ul {
  position: relative;
  font-size: 1.1em;
  bottom: 12px;
}

.navBar ul li {
  list-style: none;
}

.navBar ul li a {
  color: white;
  text-decoration: none;
  padding: 0 18px 0 18px;
  font-family: "Medium";
}

.cart-icon {
  height: 23px;
  width: 23px;
  position: relative;
}

.side-nav-content {
  float: right;
  top: 21px;
}

.nav-menu-btn {
  float: right;
  margin-top: 13px;
  font-size: 19px;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}


.side-nav-content .acc-text {
  position: relative;
  font-size: 1.1em;
  font-family: "Medium";
}


.nav-bar-panel{
  width: 100%;
  height: 0;
  background-color: #777fa8;
  z-index: 3;
  margin-top: 45px;
  position: absolute;
  transition: 0.4s ease-in-out;
}

.show{
  height: 200px;
}

.centre-nav-content {
  padding-left: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-home{
  height: fit-content;
  position: relative;
  color: white;
  height: 100vh;
  /* background-color: white; */
  margin-top: 21px;
}


.header-home-image{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../public/products/bg.jpg);
  overflow: auto;
}

.home-slider-image{
  width: 100%;
  height: 100%;
  position: relative;
  /* animation: slide-left 3s linear infinite; */
  object-fit: cover;
}

.header-home-row {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562);
}



.header-home-col1 {
  width: fit-content;
  width: 100%;
  padding-left: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-home-col1 h1 {
  position: relative;
  animation: fadein-left 1.5s linear;
  animation-iteration-count: 1;
  font-family: "SemiBold";
  font-size: 3.2em;
}

.header-home-col1 p {
  position: relative;
  animation: fadein-left 1.5s linear;
  animation-iteration-count: 1;
  font-family: "Medium";
  font-size: 21px;
  margin-top: 5px;
}

.header-home-col1 button {
  position: relative;
  animation: fadein-left 1.5s linear;
  animation-iteration-count: 1;
  font-family: "Medium";
  margin-top: 20px;
  margin-bottom: 45px;
  padding: 12px 46px;
  transition: 0.5s ease-in-out;
  border: none;
  background-color: #777fa8;
  border-radius: 45px;
  color: rgb(240, 240, 240);
  font-size: 1.2em;
}

.header-home-col1 button:hover{
  background-color: #ffffff;
  color: #777fa8;
}

.header-home-col2 {
  margin-right: 40px;
  width: 50vh;
}

.header-home-col2 img {
  height: 200px;
  float: right;
  border-radius: 50%;
}

.home-products {
  text-align: center;
  background-color: rgba(173, 216, 230, 0.226);
}

.products-intro-text {
  animation: fadein-down 1.5s;
  position: relative;
  padding: 8px;
}

.home-products h2 {
  font-family: "Medium";
  font-size: 1.6em;
  color: rgb(51, 51, 51);
}

.home-products h1 {
  margin-top: 5px;
  font-size: 1.8em;
  color: rgb(51, 51, 51);
  font-family: "Regular";
}

.home-products p {
  font-family: "Regular";
  margin-top: 5px;
  color: rgb(51, 51, 51);
  font-size: 1.1em;
}


.pcards {
  text-align: center;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: 10px;
  grid-gap: 40px;
}

.pcard {
  padding: 0 20px;
}

.pcard-top, .pcard-bottom{
  background-color: #777fa8b9;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
}


.pcard-bottom:hover{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.445);
}

.pcard-top{
  position: relative;
}


.pcard-header{
  padding: 15px;
  height: 270px;
}

.pcard-header img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.pcard-det {
  padding: 10px 5px;
  text-align: center;
  color: white;
}

.pcard-det h5{
  font-size: 1.6em;
  font-weight: 600;
}

.pcard-det span{
  font-size: 18px;
  font-weight: 400;
}

.pcard-footer {
  z-index: -1;
  margin-top: 5px;
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding: 12px 26px;
  cursor: pointer;
}

.pcard-footer:hover{
  transform: scale(1.1);
}

.about {
  background-color: rgba(173, 216, 230, 0.432);
}

.about-row {
  padding: 50px;
  display: flex;
  position: relative;
}


.about-row .acontainer .acontent {
  height: 350px;
  width: 350px;
  
}

.about-row .acontainer .acontent img{
  width: 100%;
  border-radius: 8px;
}


.about-texts {
  padding: 0 30px 0 30px;
}

.about-texts h1 {
  font-size: 3em;
  font-family: "SemiBold";
  color: rgb(51, 51, 51);
}

.about-texts p {
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-family: "Medium";
}

.conscious {
  margin: 0 15px;
  padding: 15px;
  position: relative;
  border-radius: 15px;
}

.conscious h1 {
  text-align: center;
  font-size: 45px;
  font-family: "SemiBold";
  color: #5a79aa;
}

.conscious-row {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
}

.conscious-item {
  display: flex;
  justify-content: center;
}

.conscious-item .container {
  height: 130px;
  border-radius: 50%;
}

.conscious-item .container img {
  height: 100%;
  width: 100%;
  /* filter: opacity(0.5) drop-shadow(rgb(0, 81, 255) 0px 0px 0px); */
}

.conscious-header span {
  font-family: "Medium";
  color: #5a79aa;
}

.conscious-header {
  text-align: center;
}

.testimonials {
  background-color: #d3d6e3;
}

#testicont{
  position: relative;
}

.testimonials h1 {
  font-size: 45px;
  font-family: "SemiBold";
  text-align: center;
  color: rgb(51, 51, 51);
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  grid-gap: 15px;
}

.container-card {
  width: 250px;
  display: flex;
  justify-content: center;
}

.container-card-head {
  padding: 10px 80px 10px 80px;
  background-color: #777fa8;
}

.container-card-head img {
  height: 120px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid white;
}

.container-card-footer {
  background-color: white;
}

.container-card-footer h1 {
  font-size: 25px;
  font-weight: 500;
}

.carousel-root {
  width: 80% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 0.685)),url(../public/products/bg.jpg);
  color: rgb(51, 51, 51);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.carousel .slide img {
  margin-top: 5px;
  width: 109px !important;
  border-radius: 50%;
}

.myCarousel {
  /* background: #fafafa; */
  /* margin-top: -6%; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  /* border: 1px solid #ddd; */
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  font-family: "Medium";
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-family: "Medium";
  font-weight: 500;
  color: #787878;
  font-size: 18px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-family: "Medium";
  font-size: 18px;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #222;
  font-family: monospace;
  font-size: 26px;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #222;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.pbcards {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.pbcard {
  padding: 0 20px;
}


.pbcard-header .pbcontainer {
  display: flex;
  height: 300px;
  position: relative;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.pbcard-header .pbcontainer span{
  position: absolute;
  top: 50%;
  z-index: 2;
  color: #3a3a3a;
  font-family: 'ExtraBold';
  background-color: rgba(255, 255, 255, 0.548);
  padding: 5px;
  font-size: 1.5em;
}

.pbcard-header .pbcontainer img {
  cursor: pointer;
  border-radius: 25px;
  filter: blur(1.5px);
  transition: 0.5s ease-in-out;
}

.pbcard-header .pbcontainer:hover {
  transform: scale(1.04);
}

.pblurred {
  background-color: #c2c8e1;
  text-align: center;
}

#pbtitle{
  position: relative;
  font-family: "SemiBold";
  color: rgb(51, 51, 51);
}

.map {
  opacity: 0.4;
  border: none;
  transition: 0.5s ease-in-out;
}

.map:hover {
  opacity: 1;
}

.bg-grey {
  background: #ffffff;
}
.logo-footer {
  margin-bottom: 40px;
}
footer {
  color: #777fa8;
  position: relative;
  bottom: 0;
}
footer p,
footer a {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
footer h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
  position: relative;
}
footer h6:after {
  position: absolute;
  content: "";
  background: #777fa8;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}
.btn-footer {
  color: #777fa8;

  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}
.btn-footer:hover {
  text-decoration: none;
}

.social a {
  margin: 5px;
  color: #777fa8;
  font-size: 22px;
  padding: 10px 15px;
  background: #3c3c3c;
}
footer ul li {
  list-style: none;
  display: block;
}
footer ul {
  padding-left: 0;
}
footer ul li a {
  text-decoration: none;
  color: #777fa8;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  color: #646464 !important;
}
.logo-part {
  border-right: 1px solid #777fa8;
  height: 100%;
}

.logo-part a{
  text-decoration: none;
  color: #8d7fbb;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 825px) {
  .acontainer {
    display: none;
  }

  .about-texts {
    padding: 15px;
  }

  .about-row {
    padding: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .header-home-col2 {
    display: none;
  }

  .header-home-col1 {
    /* margin-left: 15px; */
    padding-left: 5px;
    padding-right: 5px;
  }

  .navDesk {
    display: none;
  }

  .navMobile {
    display: block;
  }
}

@keyframes slide-left {
  0%{
    right: -500px;
  }

  100%{
    right: 0;
  }
  
}



@keyframes fadein-left {
  0%{
    opacity: 0;
    left: -10px;
  }
  100%{
    opacity: 100%;
    left: 0;
  }
}

@keyframes fadein-right {
  0%{
    opacity: 0;
    right: -50px;
  }
  100%{
    opacity: 100%;
    right: 0;
  }
}


@keyframes fadein-down {
  0%{
    opacity: 0;
    top: -50px;
  }
  100%{
    opacity: 100%;
    top: 0;
  }
}


@keyframes imageChanger {
  0%{
    background-image: url(../public/products/bg.jpg);
  }
  50%{
    background-image: url(../public/products/DSC_4328.JPG);
    
  }
  100%{
    background-image: url(../public/products/DSC_4190.JPG);
  }
}